/* 
flex: 레이아웃을 구성하기 위한 속성 

<container>
    <item />
    <item />
</container>

contanier: 
1) display
2) flex-direction
3) flex-wrap
4) flex-flow
5) justifiy-content

item:
1) order
2) flex-grow
3) flex-shrink
4) flex-basis
5) flex
6) align-self

*/
