/* ul 태그의 직계 자손 li 태그의 폰트 컬러를 blue 로 한다. */
ul > li {
  color: blue;
}

/* 웹 페이지에 있는 모든 ul 태그 밑에 있는 li 태그는 폰트 컬러를 green 으로 한다.  */
ul li {
  color: green;
}

/* 아이디가 lecture 인 태그의 직계자손 태그 li 의 폰트 컬러를 hotping 로 한다.  */
#lecture > li {
  color: hotpink;
}

/* ul 태그와 ol 태그의 백그라운드 컬러를 powderblue 로 한다. */
ul,
ol {
  background-color: powderblue;
}
